@mixin media($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $breakpoint == laptop {
    @media (min-width: 1280px) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (min-width: 1920px) {
      @content;
    }
  }
}

// class
@mixin size32 {
  font-size: var(--text-size-big);
  font-weight: 500;
  line-height: var(--line-height-big);
  text-transform: capitalize;
}

@mixin size14 {
  font-size: var(--text-size-very-small);
  line-height: var(--line-height-secondary);
}

@mixin size16 {
  font-size: var(--text-size-small);

  line-height: var(--line-height-primary);
}

@mixin size64 {
  font-family: var(--font-secondary);
  font-size: var(--text-size-ultra-big);
  line-height: var(--line-height-small);
  text-transform: capitalize;
}
$mobile: 320px;
$tablet: 768px;
$laptop: 1280px;
$desktop: 1920px;
