@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 26, 30, 35, 10;
  --text-primary-color: #ffffff;
  --text-secondary-color: #12f7d6;
  --text-title-color: #98faec;
  /* 98FAEC */
  --bg-secondary: #292f36;
  --white: #ffffff;

  --transition: cubic-bezier(0.075, 0.82, 0.165, 1);

  --text-size-very-small: 14px;
  --text-size-small: 16px;
  --text-size-primary: 20px;
  --text-size-normal: 24px;
  --text-size-big: 32px;
  --text-size-ultra-big: 64px;

  --line-height-small: 112.5%;
  --line-height-primary: 125%;
  --line-height-secondary: 128.571%;
  --line-height-big: 131.25%;

  /* font */
  --font-primary: "__Ubuntu_909e52";
  --font-secondary: "__Ubuntu_909e52";
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 26, 30, 35, 10;
    --background-end-rgb: 26, 30, 35, 10;
  }
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 1 auto;
}

body {
  font-family: var(--font-secondary);
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

p,
a,
li {
  font-family: var(--font-secondary);
}

h1,
h2,
h3 {
  font-family: var(--font-primary);
}

span {
  font-family: var(--font-primary);
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.logo {
  color: var(--text-secondary-color);
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  font-size: var(--text-size-primary);

  text-transform: capitalize;

  @media (min-width: 768px) {
    font-size: var(--text-size-normal);
  }

  @media (min-width: 1280px) {
    font-size: var(--text-size-big);
  }
}

.iconn-uk---width {
  width: 200px;
}

svg {
  fill: #12f7d6;
}

button {
  cursor: pointer;
}

.scroll-top {
  position: fixed;
  width: 80px;
  background-color: transparent;

  bottom: 72px;
  right: 0;
  cursor: pointer;

  @media (min-width: 768px) {
    width: 100px;
    bottom: 82px;
    right: 5%;
  }

  @media (min-width: 1280px) {
    right: 7%;
    bottom: 92px;
  }
}

.icon-scroll {
  stroke: var(--text-secondary-color);
  fill: transparent;
}

.scroll-top:hover .icon-scroll {
  stroke: var(--text-title-color);
  transition: var(--transition);
}

.scroll-top---hidden {
  display: none;
}

.loading-wrapper {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
