@import "@/styles/utilities/mixin.scss";
.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: start;
  margin: 0 auto;
  max-width: 960px;
  @include media(laptop) {
    grid-template-columns: repeat(4, 1fr);
  }
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 0;
    }
    p {
      margin-top: 24px;
      @include size32;
    }
  }
}
