@import "@/styles/utilities/mixin.scss";

.about {
  @include media(desktop) {
    display: flex;
    justify-content: space-between;

    align-items: center;
  }
  &__title-wrapper {
    margin: 0 auto;

    width: max-content;
    border-radius: 40px 0px;
    border: 4px solid var(--text-secondary-color);
    background: var(--bg-secondary);
    padding: 16px 40px;
    @include media(tablet) {
      margin: 0;
    }
  }

  h2 {
    font-family: var(--font-secondary);
    font-size: var(--text-size-big);
    line-height: var(--line-height-small);

    @include media(tablet) {
      font-size: var(--text-size-ultra-big);
    }
  }

  &__description-wrapper {
    margin-top: 64px;
    padding: 24px;
    border-radius: 40px;
    background-color: var(--bg-secondary);
    width: 100%;
    color: var(--text-secondary-color);
    margin-bottom: 64px;

    @include media(desktop) {
      width: 640px;
      margin-bottom: 0;
    }
  }

  &__description {
    padding-top: 16px;
    padding-bottom: 16px;

    p {
      color: var(--white);
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      color: var(--text-secondary-color);
      text-decoration: underline;
      @include hoverLinkText;
    }

    code {
      color: var(--text-secondary-color);
    }
    ul {
      list-style: disc;
      padding-left: 26px;
      margin-bottom: 16px;
    }
    strong {
      color: var(--text-secondary-color);
    }
  }
}

.image {
  margin: 0 auto;
}
