@import "@/styles/utilities/mixin.scss";

.list {
  li {
    border-top: 1px solid var(--text-primary-color);
    border-bottom: 1px solid var(--text-primary-color);
  }
}

.item {
  padding: 24px;
  @include media(tablet) {
    display: flex;
    justify-content: space-between;
  }

  &__image-box {
    width: max-content;

    img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      @include media(laptop) {
        width: 240px;
        height: 240px;
      }
    }
  }

  &__contents-wrapper {
    @include media(tablet) {
      width: 80%;
    }
  }

  &__title {
    margin-top: 32px;

    margin-bottom: 24px;
    color: var(--text-secondary-color);
    @include size32;

    @include media(tablet) {
      margin-top: 0;
    }
  }

  &__desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 4;

    @include size16;
    margin-bottom: 24px;
  }

  a {
    color: var(--text-secondary-color);
    @include size16;
  }

  &__wrapper-role {
    width: max-content;
    border-radius: 16px;
    padding: 8px;
    background-color: var(--bg-secondary);
    p {
      @include size14;
    }
  }

  &__bottom-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
  }

  &__roles-wrapper {
    display: flex;
    div {
      margin-top: 0;
      margin-right: 8px;
    }
  }
  &__libraries-wrapper {
    display: none;
    @include media(tablet) {
      display: flex;
    }

    div {
      background-color: var(--text-secondary-color);
      color: var(--bg-secondary);
      margin-right: 8px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
