@import "@/styles/utilities/mixin";

.footer {
  padding-top: 24px;
  padding-bottom: 24px;
}
.wrapper {
  position: relative;
  display: flex;
  border-top: 1px solid silver;
  justify-content: space-between;
  padding-top: 16px;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  li {
    margin-right: 16px;
    @include media(tablet) {
      margin-right: 32px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.contacts-list {
  display: flex;

  justify-content: center;
  align-items: center;
  column-gap: 16px;

  @include media(tablet) {
    display: flex;
    flex-direction: row;
    align-items: center;

    // column-gap: 8px;
  }

  li {
    a {
      @include media(laptop) {
        &:hover,
        &:focus {
          svg {
            fill: var(--text-title-color) !important;
            transition: var(--transition);
          }
        }
      }

      svg {
        width: 22px;
      }

      span {
        margin-left: 8px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
  // &__icon {
  //   width: 66px;
  // }
}

.contacts-span {
  @include media(laptop) {
    display: block;
  }
}
